/* Style for the entire component */
.category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  
  /* Style for each category */
  .category p {
    border-radius: 10px;
    padding: 8px;
    width: auto;
    font-style: inherit;
    flex: 1 0 40px;
    margin: 10px;
    display: flex;
    font-size:larger;
    align-items: center;
    justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    font-size: 16px; /* Adjust font size as needed */
    color: #ffffff; /* Text color */
    background: linear-gradient(45deg, #FF5F6D, #FFC371); /* Gradient background, you can change it */
    border: 1px solid #ccc; /* Light gray border color, you can change it */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect */
  .category p:hover {
    background-color: #4CAF50; /* Different color on hover, you can change it */
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .category p.selected {
   
    background: linear-gradient(45deg, #8aff5f, #0df8c9); /* Gradient background, you can change it */
   }